<div id="container">
	<nav></nav>
	<aside>
    <div class="img">
      <img src="../../../../assets/images/icon_v2.png" alt="icon" height="100px" width="100px" align="center"><br/>
    </div>
	<div class="head_registration">
		<h1 align="center" style="font-size: 180%">Регистрация</h1>
		<h4 align="center">Создайте учетную запись и окунитесь в хорошую музыку!</h4><br/>
	</div>
	<div class="form">
		<form>
			<label for="login">Ваш логин:</label><br/>
			<input type="text" [(ngModel)]="this.user.login" name="this.user.login" id="login" placeholder="Введите логин" required #Login/><br/><br/>
   	 		<label for="email">Ваш e-mail:</label><br/>
			<input type="email" [(ngModel)]="this.user.email" name="this.user.email" id="email" placeholder="E-mail" required #Email/><br /><br />
    	 	<label for="password">Ваш пароль:</label><br/>
     	 	<input type="password" [(ngModel)]="this.user.password" name="this.user.password" id="password" placeholder="Введите пароль" required #Password/><br/><br/>
     	 	<label for="password_CONFIRM">Подтвердите пароль:</label><br/>
     	 	<input type="password" [(ngModel)]="passwordConfirm" name="passwordConfirm" id="password_CONFIRM" placeholder="Повторите свой пароль" required #passwordCONFIRM/><br/><br/>
      		<button type="button" (click)="signUp(Login.value,Email.value,Password.value,passwordCONFIRM.value)"><b>Зарегистрироваться</b></button><br/>
		</form>
  </div>
</aside>