<article>
<header>ПОИСК</header>
<form>
<div class="search">
  <input type="search" placeholder="Что вы ищите?" required #name/>
  <button type="submit" class="buttonSearch" (click)="find(name.value)">
      <img src="../../../assets/images/find.png" alt="search" height="25px" width="25px" />
  </button>
</div>
</form>

<br>

<p class="stringTrack">
    Треки:
  </p>
  <div class="">
    <table>
      <tr *ngFor="let track of tracks">
        <td>
            <audio src="../../../../assets/music/{{track.link}}" controls></audio>
        </td>
        <td class="trackName">
          {{track.name}},  
          <a href="">{{track.albums[0].name}}</a>, 
          <a href="">{{track.authors[0].name}}</a>, 
          {{track.genre.name}}
        </td>
        <!-- <td>
          <div class="starability-basic">
            <input type="radio" id="{{track.id}}5" name="{{track.name}}" value="5" />
            <label for="{{track.id}}5" title="Amazing">5 stars</label>
            <input type="radio" id="{{track.id}}4" name="{{track.name}}" value="4" />
            <label for="{{track.id}}4" title="Very good">4 stars</label>
            <input type="radio" id="{{track.id}}3" name="{{track.name}}" value="3" />
            <label for="{{track.id}}3" title="Average">3 stars</label>
            <input type="radio" id="{{track.id}}2" name="{{track.name}}" value="2" />
            <label for="{{track.id}}2" title="Not good">2 stars</label>
            <input type="radio" id="{{track.id}}1" name="{{track.name}}" value="1" />
            <label for="{{track.id}}1" title="Terrible">1 star</label>
          </div>
        </td> -->
        <td class="bubuttonPayTd">
            <button class="buttonPay" (click)="buyTrack(track)"><img alt="Купить"
              src="../../../../assets/images/basket.png" height="20px" width="20px"/> + ${{track.price}}</button>
        </td>
      </tr>
    </table>
  </div>

  <br/><br/>
  
  <p class="stringTrack">
      Плейлисты и альбомы:
    </p>

    <div class="row clearfix">
     
      <div *ngFor="let playlist of playlists" style="padding: 0.5em" class="col-1-4"> 
        <a routerLink="/playlist-page">
          <div *ngIf="playlist.link_on_cover; else unset">
            <img alt="Обложка" src="../../../../assets/music/{{playlist.link_on_cover}}" width="150px" height="150px"/>
          <br>
          </div>
          <ng-template #unset>  
              <img alt="Обложка" src="../../../../assets/images/album.png" width="150px" height="150px"/>
              <br>
            </ng-template>
        
          <br>
          <small>{{playlist.name}}</small>
        </a>
      </div>

    </div>

  </article>