
    <!-- <header>
        <table class="tableHeader">
            <tr>
                <th class="icon"><img src="../../../assets/images/icon_v2.png" alt="icon" height="50px" width="50px"></th>
                <th class="find">
                        AudioTrackStore
                </th>
                <th>
                    <button class="buttonMenu"><img alt="Поиск" src="../../../assets/images/find.png" /></button>
                </th>
                <th>
                        <button class="buttonMenu"><img alt="Настройки" src="../../../assets/images/setting.png" /></button>
                </th>
                
                <th>
                        <button class="buttonMenu"><img alt="Карточки" src="../../../assets/images/credit-card.png" /></button>
                </th>
                <th>
                        <button class="buttonMenu"><img alt="Выйти" src="../../../assets/images/log-out.png" /></button>
                </th>
            </tr>
        </table>
    </header> -->
    <div id="main">
        <!-- <article>
          <table class="tableUserName">
            <tr>
              <th class="avatarIcon">
                <img alt="Аватарка" src="../../../assets/images/user.png"  width="100px" height="100px"/>
              </th>
              <th class="userNameAndStatistics">
                <h2><strong>{{userName}}</strong></h2>
                <small>
                  <ul>
                    <li style="padding: 2px;" *ngFor="let stat of statistics">
                      {{stat.indicator}}
                    </li>
                  </ul>
                </small>
              </th>
            </tr>
          </table>

          <br/>

          <p class="stringTrack">
            Треки:
          </p>
          <div class="tracksList">
              <ol>
                  <li style="padding: 2px;" *ngFor="let track of tracks">
                    {{track.name}}
                    {{track.name_authors}}
                    {{track.price}}
                  </li>
                </ol>
          </div>

          <br/>

          <p class="stringTrack">
              Плейлисты и альбомы:
            </p>
            <div>
                <table class="tablePlaylists">
                 <tr>
                  <th *ngFor="let playlist of playlists" style="padding: 0.5em">
                      <img alt="Обложка" src="../../../assets/images/mocro2.png" width="75px" height="75px"/><br>
                      <small><a href="{{playlist.link}}">{{playlist.name}}</a></small>
                  </th>
                </tr>
                </table>
            </div>

        </article> -->
        <!-- <nav>Nav</nav> -->
        <!-- <aside>

                      <small>
                        
                  <table class="tableOtherPerformers">
                    <caption>
                        <u>Рекомендуемые:</u>
                    </caption>
                      <tr *ngFor="let other_performer of other_performers" style="font-size:80%;" >
                       <th style="padding: 1em;">
                      <img alt="Обложка" src="../../../assets/images/micro1.png" width="50px" height="50px"/><br/>
                      <a href="{{other_performer.link}}">{{other_performer.name_other_performer}}</a>
                    </th>
                  </tr>
                  </table>
                </small>

        </aside> -->
    </div>
    <!-- <footer>Footer</footer> -->
