<table>
  <tr>
    <td>
      <!-- <button type="button" value="Users">Пользователи</button> -->
      <input type="checkbox" id="hd-1" class="hide" />
      <label for="hd-1" class="more">Пользователи</label>
      <div>
        <div>
          <p>
            <button type="button" value="addUser">Добавить</button>
            <button type="button" value="deleteUser">Удалить</button>
            <button type="button" value="changeUser">Изменить</button>
            <button type="button" value="infoUser">Информация</button>
          </p>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <!-- <button type="button" value="Music">Музыка</button> -->
      <input type="checkbox" id="hd-2" class="hide" />
      <label for="hd-2" class="more">Музыка</label>
      <div>
        <div>
          <p>
            <button type="button" value="addMusic">Добавить трек</button>
            <button type="button" value="addAlbum">Добавить альбом</button>
            <button type="button" value="addAlbum">Добавить исполнителя</button>
            <button type="button" value="deleteMusic">Удалить</button>
            <button type="button" value="infoMusic">Информация</button>
          </p>
        </div>
      </div>
    </td>
  </tr>
</table>