<article>

<table class="tableUserName">
  <tr>
    <th class="avatarIcon">
      <img alt="Аватарка" src="../../../assets/images/user.png" width="100px" height="100px" />
    </th>
    <th class="userNameAndStatistics">
      <h2><strong>user</strong></h2>
      <small>
        <ul>
          <li style="padding: 2px;">
              Количество треков: 4
          </li>
          <li style="padding: 2px;">
              Количество плейлестов: 1
          </li>
          <li style="padding: 2px;">
              Общая сумма: 27 $
          </li>
        </ul>
      </small>
    </th>
  </tr>
</table>


<br />

<p class="stringTrack">
  Треки:
</p>
<div class="tracksList">
  <table>
    <tr *ngFor="let track of userTrack.tracks">
      <td>
          <audio src="{{track.link}}" controls></audio>
      </td>
      <td class="trackName">
        {{track.name}}
      </td>
    </tr>
  </table>
</div>

<br />

<p class="stringTrack">
  Плейлисты и альбомы:
</p>

<div class="row clearfix">
 
  <div *ngFor="let playlist of playlists" style="padding: 0.5em" class="col-1-4"> 
    <a routerLink="/{{playlist.link}}">
      <img alt="Обложка" src="../../../assets/images/Help!.jpg" width="150px" height="150px"/>
      <br>
      <small>{{playlist.name}}</small>
    </a>
  </div>

</div>

</article>
