<div id="container">
	<nav>
	<div class="img"><img src="../../../../assets/images/icon_v2.png" alt="icon" height="100px" width="100px" align="center"><br/></div>
	<div class="head">
		<h1 align="center" style="font-size: 180%">Авторизация</h1>
		<h4 align="center">Войти с помощью электронной почты или имени пользователя</h4><br/>
	</div>
	<div class="form">
		<form>
			<label for="login">Ваш логин:</label><br/>
			<input type="text" [(ngModel)] = "user.login" name="user.login" id="login" placeholder="Введите логин" required #Login/><br/><br/>
    	 	<label for="password">Ваш пароль:</label><br/>
     	 	<input type="password" [(ngModel)] = "user.password"  name="user.password" id="password" placeholder="Введите пароль" required #Password/><br/><br/>
      		<button type="button" (click)="logIn(Login.value, Password.value)"><b>Войти</b></button><br/>
          <p class="message">Вы ещё не зарегистрированы?<br/>
            <a routerLink="/registration">Создать аккаунт</a>
          </p>
		</form>
	</div>
	</nav>
	<aside></aside>
</div>