#tile {
    background: #252525;
    padding: 0.5em;
}

.header{font-size: 130%;}
  
/* table */

table {
    border-collapse: collapse;
    font-size: 80%;
    width: 100%;
}
  
th, td {
    text-align: left;
    padding: 0.5em;
    border-bottom: 3px solid #3f3f3f;
    border-top: 1px solid transparent;
}
  
tr:hover td {background: #313131;}
  
thead {background: #3f3f3f;}

thead>tr>td{
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 110%;
}

/* button */

button {
    display: inline-block;
    /* padding: 10px 10px; */
    text-align: center;
    font-size: 125%;
    /* background-color: #d2374a; */
    color: #d2374a;
    background: none;
    border: none;
    /* border-radius: 11px; */
  }
  
  button:hover {
    /* background-color: #c91c30 */
    color: #c91c30;
    text-decoration: underline;
    background: none;
  
  }
  
  button:active {
    /* background-color: #c91c30; */
    color: #c91c30;
    background: none;
    text-decoration: underline;
    transform: translateY(2px);
  }

  /* checkbox */

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
  }
  .checkbox + label {
    position: relative;
    padding: 0 0 0 20px;
    cursor: pointer;
  }
  .checkbox + label:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 11px;
    height: 11px;
    border: 1px solid #d7ecf4;
    border-radius: 50%;
    background: none;
  }
  .checkbox + label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #d2374a;
    border: none;
    opacity: 0;
    transition: .3s;
  }
  .checkbox:checked + label:after {
    opacity: 1;
  }
  
  .checkbox:checked + label::before {
    border: 1px solid #d2374a; 
    opacity: 1;
  }

  /* isBlock */

  .isBlock{width: 17%;}

  /* click */

  
  .click:hover{
    text-decoration: underline;
    cursor: pointer;
  }

  /* buttonSave */

.buttonSave { 
  display: inline-block;
  padding: .9em;
  text-align: center;
  background-color: #d2374a;
  border: none;
  border-radius: 2px;
  color: #d7ecf4;
  font-size: 90%;
}

.buttonSave:hover {
  background-color: #c91c30;
  color: #d7ecf4;
  text-decoration: none;
}

.buttonSave:active {
  background-color: #c91c30;
  color: #d7ecf4;
  transform: translatey(2px);
}
