<header>
        <table class="tableHeader">
                <tr>
                        <th class="icon">
                                <img src="../../../assets/images/icon_v2.png" routerLink="/" alt="icon" height="50px"
                                        width="50px"></th>
                        <th class="find">
                                AudioTrackStore
                        </th>
                        <th>
                                <a routerLink="/" class="buttonMenu"><img alt="Профиль"
                                                src="../../../assets/images/profile.png" /></a>
                        </th>
                        <th>
                                <a routerLink="/find" class="buttonMenu"><img alt="Поиск"
                                                src="../../../assets/images/find.png" /></a>
                        </th>
                        <th>
                                <a routerLink="/settings" class="buttonMenu"><img alt="Настройки"
                                                src="../../../assets/images/setting.png" /></a>
                        </th>

                        <th>
                                <a routerLink="/cards" class="buttonMenu"><img alt="Карточки"
                                                src="../../../assets/images/credit-card.png" /></a>
                        </th>
                        <th>
                                <a routerLink="/login" class="buttonMenu"><img alt="Выйти"
                                                src="../../../assets/images/log-out.png" /></a>
                        </th>
                </tr>
        </table>
</header>