header {
    background: #61000d;
    height: 10vh;
    padding: 0.8em 0.5em;

    position: fixed;
    width: 100%;
    z-index: 999999;
  }

  
  /* header_table */

.tableHeader {
  border-collapse: collapse; 
  line-height: 1.1;
  color: #0C213B;
}
.tableHeader>th {
  /* border: 1px solid wheat; */
  align-content: center;
  padding: 5px;
}

th.find{
width: 82%;
font-size: 200%; 
}
th.icon{
padding-left: 1.5%;
cursor: pointer;
}

  
/* buttonMenu */

.buttonMenu {
  display: inline-block;
  padding: 10px 10px;
  text-align: center;
  color: #fff;
  background-color: #5d9700;
  border: none;
  border-radius: 11px;
}

.buttonMenu:hover {background-color: #4f8901}

.buttonMenu:active {
  background-color: #4f8901;
  transform: translateY(2px);
}

th>a>img{
  width: 25px;
  height: 25px;
  align-content: center;
}